    :root {
        --main-bg-color: #DAFDD0;
        --accent-color: #4CAF50;
        --button-bg-color: #C8E6C9;
        --button-text-color: #1B5E20;
        --button-hover-bg-color: #A5D6A7;
        --link-color: #2E7D32;
        --base-padding: 20px;
        --button-border-radius: 10px;
    }



body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-bg-color);
    color: #333;
    padding: var(--base-padding);
}

h1, h2, h3 {
    color: var(--accent-color);
}

.header {
    display: flex;
    align-items: center; /* 中央揃え */
}

img#image {
    width: 80px;  /* 画像のサイズは必要に応じて調整してください */
    margin-bottom: 20px; /* タイトルとの間隔 */
}

button {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: var(--button-border-radius);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--button-text-color);
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

a {
    color: #2E7D32; /* Changed to a greenish color as per instructions */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--link-color);
}

input[type="range"] {
    width: 100%;
}